<p>Olá,<%= @resource.email %>!</p>

<p>Alguém requisitou uma mudança de senha. Você pode fazer isso através do link abaixo.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não requisitou este e-mail, por favor ignore essa mensagem.</p>
<p>Sua senha não mudará  enquanto você entrar no link e mudar a sua senha.</p>
